.box {
    background-color: #bc6d4c;
    width: 50%;
    margin: 0 auto;
    
}

h1 {
    color: #6a7045;
}

h2 {
    color: #7e0f12;
}

footer {
    color: #b71a3b;
}

.syllabus {
    background-color: grey;
}